:root {
  --color-body: #434455;
  --brand-color: #ffffff;
  --hover-order: #404bbf;
  --button-normal: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color);
  color: var(--color-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.item {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 428px) {
  
}

/* header */

.header {
  box-sizing: border-box;
  background: var(--brand-color);
  border-bottom: 1px solid #e7e9fc;
}


.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Header border "after" */
.current {
  position: relative;
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
  }
/*  */

.adres-list-tel,
.adres-list-mail {
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}

.address {
  font-style: normal;
}

/* footer */

.footer {
  background: #2e2f42;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* buttom-logo-href */

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.logo-two {
  color: #2e2f42;
}

.logo-two-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.adres-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-list-item:hover,
.adres-list-item:focus {
  color: #404bbf;
}

.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item:hover,
.header-list-item:focus {
  color: #404bbf;
}

.button-order {
  font-family: "Roboto", sans-serif;
  background-color: var(--button-normal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  flex: none;
  flex-grow: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-order:hover {
  background-color: var(--hover-order);
}

.button-order:focus {
  background-color: var(--hover-order);
}

.two-section-one-item-button {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.two-section-one-item-button:hover {
  color: var(--brand-color);
  background-color: var(--hover-order);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.two-section-one-item-button:focus {
  background-color: var(--hover-order);
  color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.adres-list-mail,
.adres-list-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adres-list-mail:hover,
.adres-list-mail:focus {
  color: #404bbf;
}

/* main page one */

.section-one {
  background: #2e2f42;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-three-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-four-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-four {
  background: #f4f4fd;
}

.section-four-item {
  background-color: var(--brand-color);
}

.section-four-photo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

/* main page two */

.servise {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Boxing header*/

.hed {
  display: flex;
  align-items: center;
  height: 72px;
}

.header-list {
  display: flex;
  margin-right: auto;
}

.logo {
  margin-right: 76px;
}
.studio,
.portfolio,
.mail {
  margin-right: 40px;
}
/* Boxing footer */

.footer {
  padding-top: 101.5px;
  padding-bottom: 100px;
}

.logo-down {
  margin-bottom: 17.5px;
}

.footer-text {
  max-width: 264px;
}

/* Boxing page 1 */

.section-one {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  }

.title-one-page {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.button-order {
  margin-top: 48px;
  margin-right: 635px;
  margin-bottom: 188px;
  margin-left: 636px;
  width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}

.img-list-one {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sec-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sec-two-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-two-title {
  margin-bottom: 8px;
}

.section-two-item {
  max-width: 264px;
}

.section-three {
  padding-bottom: 120px;
}

.section-three-title {
  margin-bottom: 72px;
}

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-four-title {
  margin-bottom: 72px;
}

.sec-four-over {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section-four-photo {
  margin-bottom: 8px;
}

/* Page two type */

.type-all,
.type-website,
.type-app,
.type-design,
.type-marketing {
  padding: 12px 24px 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4twopx;
}

/* Boxing page 2*/

.button-two {
  display: flex;
  justify-content: center;
}

.img-list-two {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.but-two-sec {
  padding-top: 96px;
}


.el-page-two:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.two-section-one-list {
  margin-bottom: 72px;
  gap: 24px;
}

.img-list-two {
  padding-bottom: 120px;
}

.page-two-over {
  border: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.two-text {
  margin-top: 8px;
}

/* Icon */

.list-icon-two {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-icon-two {
  width: 40px;
  height: 40px;
}

.link-icon-two {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-two:hover,
.link-icon-two:focus {
  background-color: #404bbf;
}

.list-icon-one {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-icon-one {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.link-icon-one {
  width: 100%;
  height: 100%;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-icon-three {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-icon-three {
  width: 168px;
  height: 88px;
   }

.link-icon-three {
  width: 100%;
  height: 100%;
  background-color: rgba(142, 143, 153, 1) rgba(142, 143, 153, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot {
  display: flex;
}

.title-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.list-icon-two-foot {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.item-icon-two-foot {
  width: 40px;
  height: 40px;
}

.link-icon-two-foot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-two-foot:hover,
.link-icon-two-foot:focus {
  background-color: #31d0aa;
}

.footer-sec-two {
  margin-left: 120px;
}


.link-icon-three:hover,
.link-icon-three:focus {
  fill: #404bbf;
}

.link-icon-three:hover,
.link-icon-three:focus {
  border: 1px solid #404bbf;
  border-radius: 4px;
}

/* Position */

.link-img {
  display: block;
}

.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(244, 244, 253, 1);
  background-color: rgba(77, 90, 229, 1);
  padding: 40px 32px 164px 32px;
}

.link-img:hover .overlay,
.link-img:focus .overlay {
  transform: translate(0, 0);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 576px;
    background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms linear;
  padding: 24px;
 border-radius: 4px;
background-color: #FCFCFC;
 }

.button-modal {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);1px solid rgba(0, 0, 0, 0.1);;
  background-color: #E7E9FC;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-svg {
  width: 8px;
  height: 8px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  }
  
.button-modal:hover, .button-modal:focus {
background-color: #404BBF;
fill: white;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-top: 24px;
margin-bottom: 16px;
}

.modal-input {
  width: 360px;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
outline: transparent;
fill: #2E2F42;
padding-left: 38px;
background-color: #FCFCFC;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4D5AE5;
  }

.modal-input:focus {
fill: #4D5AE5;
}

.modal-input::placeholder {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #8E8F99;

}

.modal-input-text {
width: 360px;
height: 120px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
outline: transparent;
fill: #2E2F42;
}

.input-wrap:focus-within .modal-input {
border-color: 1px solid #4D5AE5;
}

.input-wrap:focus-within .modal-icon {
fill: #4D5AE5;
}

.modal-label {
  font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 8px;

}

.modal-label span {
  display: block;
  margin-bottom: 4px;
  }

.modal-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  }

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 8px;
   }

 .modal-field-check {
  
 }

.check-text {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
  display: flex;
  align-items: center;
  margin-right: 10px;
    }

    .check-text::before {
      content: '';
      width: 16px;
      height: 16px;
      border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 10px;
    }

.input-check:checked + .check-text::before {
  background-color: #404BBF;
  background-image: url(../images/check.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-textarea {
  width: 360px;
height: 120px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
outline: transparent;
fill: #2E2F42;
padding-top: 8px;
padding-left: 16px;  
resize: none;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border: 1px solid #4D5AE5;
border-radius: 4px;
}

.comment {
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #8E8F99;
margin-bottom: 4px;
}

.checkbox {
  display: block;
  margin-right: 10px;
  }

.button-send {
  font-family: "Roboto", sans-serif;
  background-color: var(--button-normal);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  line-height: 1.5;
  display: block;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  margin: 0 auto;
  cursor: pointer;
  margin-top: 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover {
  background-color: var(--hover-order);
}

.button-send:focus {
  background-color: var(--hover-order);
}

.input-check {
  margin-top: 16px;
  display: flex;
}

.privac {
  color:  #4D5AE5;
  padding-left: 4px;
  }

/* Foot modal */

.text-subscribe {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.footer-sec-three {
  padding-left: 80px;
  padding-right: 24px;
}

.foot-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 4px;
background-color: #2E2F42;
padding-left: 16px;
}

.footer-sec-four {

}

.button-subscribe {
 font-family: "Roboto", sans-serif;
  background-color: var(--button-normal);
  border-radius: 4px;
  border: none;
  width: 165px;
  height: 40px;
  line-height: 1.5;
  display: block;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
}

.sub-svg {
  margin-left: 16px;
  }

.hid-foot {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
color: #2E2F42;
}

.label-textarea {
  display: flex;
  flex-direction: column;
   }

.texarea {
 display: block;
 border: 1px solid rgba(46, 47, 66, 0.4);
 border-radius: 4px;
}   